# Heroes of Pymoli Sales Analysis
==================================================

In [1]:
import pandas as pd
import os

In [2]:
# load (2) JSON; view file 1 headers
json_path1 = os.path.join("Resources","purchase_data.json")
json_path2 = os.path.join("Resources","purchase_data2.json")
pd1 = pd.read_json(json_path1)
pd2 = pd.read_json(json_path2)
pd1.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
#Get row count - file 1
pd1_totrows = pd1['SN'].count()
print (pd1_totrows)

780

In [4]:
#Check columns - file 1
pd1.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [5]:
#View file 2 headers
pd2.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [6]:
#Get row count - file 2
pd2_totrows = pd2['SN'].count()
print (pd2_totrows)

78

In [7]:
#Check columns - file 2
pd2.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [8]:
#Get total rows - both files
total_rows = pd1_totrows + pd2_totrows
print (total_rows)

858

In [9]:
#Union 2 files; view headers
files = [pd1, pd2]
allsales = pd.concat(files)
allsales.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [10]:
#Get row count - all sales
allsales_totrows = allsales['SN'].count()
print (allsales_totrows)

858

In [11]:
#Set age bins
allsales['Age Group'] = "<10"
allsales['Age Group'][allsales['Age'] > 9] = '10-14'
allsales['Age Group'][allsales['Age'] > 14] = '15-19'
allsales['Age Group'][allsales['Age'] > 19] = '20-24'
allsales['Age Group'][allsales['Age'] > 24] = '25-29'
allsales['Age Group'][allsales['Age'] > 29] = '30-34'
allsales['Age Group'][allsales['Age'] > 34] = '35-39'
allsales['Age Group'][allsales['Age'] > 39] = '40+'
index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

C:\Users\Diane\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Diane\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Diane\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Diane\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Diane\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Diane\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Diane\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [12]:
#Check columns - all sales
allsales.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN', 'Age Group'], dtype='object')

In [13]:
#Get total sales
totsales = allsales['Price'].sum()
print (totsales)

2514.4299999999967

# Player Count

In [14]:
#Total number of players
pc = {'Total Players': [allsales['SN'].nunique()]}
playercount = pd.DataFrame(data=pc)
playercount

   Total Players
0            612

# Purchasing Analysis - Totals

In [15]:
#Number of Unique Items, Average Purchase Price, Total Number of Purchases, Total Revenue
pa = {'Number of Unique Items':[allsales['Item ID'].nunique()],'Average Purchase Price':[allsales['Price'].mean()],'Total Number of Purchases':[allsales['SN'].count()],'Total Revenue':[allsales['Price'].sum()]}
purchasinganalysis = pd.DataFrame(data=pa)
purchasinganalysis['Average Purchase Price'] = purchasinganalysis['Average Purchase Price'].map('${:,.2f}'.format)
purchasinganalysis['Total Revenue'] = purchasinganalysis['Total Revenue'].map('${:,.2f}'.format)
purchasinganalysis = purchasinganalysis[['Number of Unique Items', 'Average Purchase Price', 'Total Number of Purchases', 'Total Revenue']]
purchasinganalysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,184,$2.93,858,"$2,514.43"

# Gender Demographics

In [16]:
#Percentage and Count of Male, Female, Other/Non-Disclosed Players
allbuyers = allsales.drop_duplicates(subset=['SN'], keep='first')
gendersummary = allbuyers.groupby([ "Gender"]).count()
gendersummary = gendersummary.iloc[:,[0, 1]]
gendersummary = gendersummary.rename(columns={'Age': 'Count'})
gendersummary = gendersummary.rename(columns={'Item ID': 'Percentage'})
allplayers = allbuyers['SN'].count()
gendersummary['Percentage'] = (gendersummary['Percentage']/(allplayers))*100
gendersummary['Percentage'] = gendersummary['Percentage'].map('{:,.1f}%'.format)
gendersummary

                       Count Percentage
Gender
Female                   108      17.6%
Male                     495      80.9%
Other / Non-Disclosed      9       1.5%

# Purchasing Analysis by Gender

In [17]:
#Purchase Count, Average Purchase Price, Total Purchase Value, Normalized Totals by gender
gendersalescount = allsales.groupby( [ "Gender"] ).count()
gendersalescount = gendersalescount.iloc[:,[0,1]]
gendersalescount = gendersalescount.rename(columns={'Age': 'Purchase Count'})
gendersalescount = gendersalescount.rename(columns={'Item ID': 'Average Purchase Price'})
gendersalestotal = allsales.groupby( [ "Gender"] ).sum()
gendersalestotal = gendersalestotal.iloc[:,[2]]
gendersalestotal = gendersalestotal.rename(columns={'Price': 'Total Purchase Value'})
purchasinganalysis = gendersalescount.join(gendersalestotal, how='outer')
purchasinganalysis['Average Purchase Price'] = (purchasinganalysis['Total Purchase Value']/purchasinganalysis['Average Purchase Price'])
purchasinganalysis = purchasinganalysis.join(gendersummary, how='outer')
purchasinganalysis = purchasinganalysis.iloc[:,[0,1,2,3]]
purchasinganalysis = purchasinganalysis.rename(columns={'Count': 'Normalized Totals'})
purchasinganalysis['Normalized Totals'] = (purchasinganalysis['Total Purchase Value']/purchasinganalysis['Normalized Totals'])
purchasinganalysis['Normalized Totals'] = purchasinganalysis['Normalized Totals'].map('${:,.2f}'.format)
purchasinganalysis['Total Purchase Value'] = purchasinganalysis['Total Purchase Value'].map('${:,.2f}'.format)
purchasinganalysis['Average Purchase Price'] = purchasinganalysis['Average Purchase Price'].map('${:,.2f}'.format)
purchasinganalysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,149,$2.85,$424.29,$3.93
Male,697,$2.94,"$2,052.28",$4.15
Other / Non-Disclosed,12,$3.15,$37.86,$4.21

# Age Demographics

In [18]:
#Purchase Count, Average Purchase Price, Total Purchase Value and Normalized Totals by age bin
agesummary = allbuyers.groupby(["Age Group"]).count()
agegrouptotals = agesummary.iloc[:,[0]]
agegrouptotals = agegrouptotals.rename(columns={'Age': 'Count'})
agegrouptotals = pd.DataFrame(data=agegrouptotals, index=index)
agesummary2 = allsales.groupby( ["Age Group"] ).count()
agegroupsales = agesummary2.iloc[:,[0]]
agegroupsales = agegroupsales.rename(columns={'Age': 'Purchase Count'})
agegroupsales = pd.DataFrame(data=agegroupsales, index=index)
purchasinganalysis2 = agegrouptotals.join(agegroupsales, how='outer')
agesummary3 = allsales.groupby( ["Age Group"] ).sum()
agegroupsalestotals = agesummary3.iloc[:,[2]]
agegroupsalestotals = agegroupsalestotals.rename(columns={'Price': 'Total Purchase Value'})
agegroupsalestotals = pd.DataFrame(data=agegroupsalestotals, index=index)
purchasinganalysis2 = purchasinganalysis2.join(agegroupsalestotals, how='outer')
purchasinganalysis2['Average Purchase Price'] = (purchasinganalysis2['Total Purchase Value']/purchasinganalysis2['Purchase Count'])
purchasinganalysis2 = purchasinganalysis2.rename(columns={'Count': 'Normalized Totals'})
purchasinganalysis2['Normalized Totals'] = (purchasinganalysis2['Total Purchase Value']/purchasinganalysis2['Normalized Totals'])
purchasinganalysis2['Normalized Totals'] = purchasinganalysis2['Normalized Totals'].map('${:,.2f}'.format)
purchasinganalysis2['Total Purchase Value'] = purchasinganalysis2['Total Purchase Value'].map('${:,.2f}'.format)
purchasinganalysis2['Average Purchase Price'] = purchasinganalysis2['Average Purchase Price'].map('${:,.2f}'.format)
purchasinganalysis2 = purchasinganalysis2[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals']]
purchasinganalysis2

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
<10,33,$2.95,$97.28,$4.63
10-14,38,$2.79,$105.91,$4.24
15-19,144,$2.89,$416.83,$3.90
20-24,372,$2.92,"$1,087.66",$4.00
25-29,134,$2.96,$396.44,$4.26
30-34,71,$2.97,$211.14,$4.14
35-39,48,$2.93,$140.77,$4.40
40+,18,$3.24,$58.40,$5.31

# Top Spenders

In [19]:
grpsn = allsales.groupby( [ "SN"] ).sum()
sntotsales = grpsn.iloc[:,[2]]
sntotsales = sntotsales.rename(columns={'Price': 'Total Purchase Value'})
grpsn2 = allsales.groupby( [ "SN"] ).count()
sncountsales = grpsn2.iloc[:,[0]]
sncountsales = sncountsales.rename(columns={'Age': 'Purchase Count'})
topspenders = sncountsales.join(sntotsales, how='outer')
topspenders['Average Purchase Price'] = topspenders['Total Purchase Value']/topspenders['Purchase Count']
topspenders['Average Purchase Price'] = topspenders['Average Purchase Price'].map('${:,.2f}'.format)
topspenders = topspenders[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
top5spenders = topspenders.sort_values(['Total Purchase Value'], ascending=False)
top5spenders =  topspenders.nlargest(5, 'Total Purchase Value')
top5spenders['Total Purchase Value'] = top5spenders['Total Purchase Value'].map('${:,.2f}'.format)
top5spenders

               Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66                 5                  $3.41               $17.06
Aerithllora36               4                  $3.77               $15.10
Saedue76                    4                  $3.39               $13.56
Sondim43                    4                  $3.25               $13.02
Mindimnya67                 4                  $3.18               $12.74

# Most Popular Items

In [20]:
grpop = allsales.groupby( [ "Item ID"] ).count()
popitems = grpop.iloc[:,[0]]
popitems = popitems.rename(columns={'Age': 'Purchase Count'})
items = allsales.drop_duplicates(subset=['Item ID'], keep='first')
itemslookup = items.iloc[:,[2,3,4]]
itemslookup = itemslookup.set_index('Item ID')
top5items = popitems.join(itemslookup, how='outer')
top5items = top5items.rename(columns={'Price': 'Item Price'})
top5items['Total Purchase Value'] = top5items['Item Price'] * top5items['Purchase Count']
top5items = top5items[['Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]

top5itemscount = top5items.sort_values(['Purchase Count'], ascending=False)
top5itemscount = top5itemscount.nlargest(5, 'Purchase Count')
top5itemscount['Item Price'] = top5itemscount['Item Price'].map('${:,.2f}'.format)
top5itemscount['Total Purchase Value'] = top5itemscount['Total Purchase Value'].map('${:,.2f}'.format)
top5itemscount

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
84,Arcane Gem,12,$2.23,$26.76
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
31,Trickster,10,$2.07,$20.70
44,Bonecarvin Battle Axe,9,$2.46,$22.14
154,Feral Katana,9,$2.19,$19.71

# Most Profitable Items

In [21]:
top5itemsprof = top5items.sort_values(['Total Purchase Value'], ascending=False)
top5itemsprof = top5itemsprof.nlargest(5, 'Total Purchase Value')
top5itemsprof['Item Price'] = top5itemsprof['Item Price'].map('${:,.2f}'.format)
top5itemsprof['Total Purchase Value'] = top5itemsprof['Total Purchase Value'].map('${:,.2f}'.format)
top5itemsprof

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
34,Retribution Axe,9,$4.14,$37.26
107,"Splitter, Foe Of Subtlety",9,$3.61,$32.49
108,"Extraction, Quickblade Of Trembling Hands",9,$3.39,$30.51
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70