# Bootcamp Data Set, Pt. 1

In this assignment, you will consolidate your knowledge of Pandas and NumPy by cleaning a data set containing over 15,000 records.

## Instructions

* The goal for this assignment is to recreate [BootcampOutputPart1.xlsx](../output/BootcampOutputPart1.xlsx).

* Using Pandas, load the [CSV provided in Resources](../Resources/03-Stu_Project_Part_1/2016-FCC-New-Coders-Survey-Data.csv). 

* Create a new table using the following columns: `[0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]`.

* The data set currently uses 0.0 to represent "No" or "False", and "1.0" to represent "Yes"/"True"â€”an entry of 0.0 for row 2 in the **Attended Bootcamp** column, for instance, indicates that the respondent with ID 2 did not attend a bootcamp. Replace all instances of "0.0" with No, and all instances of "1.0" with "Yes".

* Calculate the total number of respondents in the subtable you built.

* Create a table out of the rows corresponding only to people who _did_ attend a bootcamp.

* Calculate the number of people who attended a bootcamp.

* Calculate the average age of bootcamp attendees.

* Calculate the number of bootcamp attendees who self-identify as male; female; or neither.

* Calculate the number of bootcamp attendees who hold college degrees.

* Calculate the percentage of respondents who attended a bootcamp.

* Calculate the percentage of people who attended a bootcamp and hold a college degree.

* Calculate the average post-bootcamp salary.

* Create a new, two-row table collecting the above data.

* Use the `format` method to prettify your tableâ€”i.e., use `format` to display percents as percents; display numbers to a reasonable number of decimal points; etc.

* Finally, export the final table into an Excel file.

### Hints

* When extracting columns, see the documentation for [iloc](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.iloc.html).

* See the documentation for [replace](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.replace.html).

* When extracting rows matching a certain condition, see the documentation for [loc](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.loc.html).

* See the documentation for Python's [format](https://pyformat.info/) method.

In [1]:
import pandas as pd
import os

In [2]:
# load CSV
csv_path = os.path.join("Resources","2016-FCC-New-Coders-Survey-Data.csv")
new_coders_pd = pd.read_csv(csv_path, low_memory=False)
new_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [8]:
len(attended_bootcamp)

953

In [9]:
# Calculate average age of attendees
attended_bootcamp['Age'].mean()

31.066014669926652

In [10]:
# Calculate how many people attended a bootcamp
attended_bootcamp['AttendedBootcamp'].count()

953

In [11]:
# Calculate how many attendees hold degrees
attended_bootcamp['SchoolDegree'].value_counts()

bachelor's degree                           462
some college credit, no degree              116
master's degree (non-professional)           96
professional degree (MBA, MD, JD, etc.)      39
high school diploma or equivalent (GED)      38
associate's degree                           32
trade, technical, or vocational training     24
some high school                             10
Ph.D.                                         8
no high school (secondary school)             7
Name: SchoolDegree, dtype: int64

In [18]:
# Calculate percentage of attendees with a school degree

# Calculate average post-bootcamp salary

In [19]:
# Create a new table consolodating above calculations

In [20]:
# Improve formatting before outputting spreadsheet

In [21]:
# Export to Excel